:root{
    --primary-color:#F5CF06;
    --secundary-color:#8E4106;  
}
body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
header{
    
}
main{
   flex-grow: 1;
}
footer{
    
}