:root{
    --primary-color:#F5CF06;
    --secundary-color:#8E4106;  
}
body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 70px ;
}
header{ 
    display:flex;
    gap: 16px;
}
header span{
    font-size: 32px;
    color: var(--secundary-color);
    font-family: Righteous, sans-serif;
}
main{
    flex-grow: 1;
}
footer{
    
}

